<div class="dialog-container">
    <h2 mat-dialog-title>Angular material dialog prompt</h2>
    <mat-dialog-content>
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select matNativeControl name="status" formControlName="status">
                    <mat-option value="pending">pending</mat-option>
                    <mat-option value="online">online</mat-option>
                    <mat-option value="error">error</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>NAT Space</mat-label>
                <mat-select matNativeControl name="nat_space_id" formControlName="nat_space_id">
                    <mat-option [value]="nat.id" *ngFor="let nat of natSpaces"> {{ nat.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>IP Address</mat-label>
                <input matInput formControlName="server_ip" />
                <mat-error *ngIf="hasError('server_ip', 'ipError')">
                    IP address is wrong
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button (click)="dialogRef.close(false)">
            Close
        </button>
        <button mat-flat-button color="primary" (click)="submit(form.value)">
            Submit
        </button>
    </mat-dialog-actions>
</div>