<div class="container-fluid">
  <h3>{{ title }}</h3>
  <div class="server-list">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="createServer();">Create Server</button>
        <button mat-flat-button color="accent" (click)="selectedServer.length && updateServer(selectedServer[0])"
          [disabled]="selectedServer.length !== 1">Edit</button>
        <button mat-flat-button color="warn" (click)="selectedServer.length && removeServer(selectedServer)"
          [disabled]="!selectedServer.length">Remove</button>
      </div>
      <div>
        <input type="text" matInput class="form-control" [(ngModel)]="searchServer" placeholder="Search by server...">
      </div>
    </div>
    <div class="selection-list">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let server of serverList | serverFilter: searchServer; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title (click)="$event.stopPropagation();">
              <mat-checkbox color="primary" (click)="addToSelection(server.name);$event.stopPropagation()"
                (keydown)="$event.stopPropagation()">
                {{server.name}}
              </mat-checkbox>
            </mat-panel-title>
            <mat-panel-description (click)="$event.stopPropagation();">
              <span class="status"><mat-icon>check_circle</mat-icon>{{server.status | titlecase }}</span>

              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item [disabled]="selectedServer | filterSelection: server.name"
                  (click)="selectedServer.length && updateServer(server.name)">
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="selectedServer.length && removeServer([server.name])"
                  [disabled]="selectedServer | filterSelection: server.name">
                  <span>Remove</span>
                </button>
              </mat-menu>
            </mat-panel-description>

          </mat-expansion-panel-header>

          <div>
            <span class="description">{{server.description}}</span>
            <div class="extra-info" fxLayout="column" fxLayoutAlign="start">
              <div>
                <label>GENERAL INFO</label>
              </div>
              <div>
                <label>Server IP Address:</label>
                <span>{{server.server_ip}}</span>
              </div>
              <div>
                <label>Server NAT IP Address:</label>
                <span>{{server.server_nat_ip}}</span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>


      </mat-accordion>


    </div>
  </div>

</div>